body{
	font-size: .2rem;
}

.pageBg{
	background: url(../img/mobilebg.jpeg) no-repeat center;
	background-size: cover;
}

.logoImg{
	width: 2rem;
	height: 0.7rem;
	margin: 0.8rem 0.6rem;
}
.titleIcon{
	width: 80%;
  height: 0.68rem;
  margin: 0.8rem auto;
}

.contentBox{
	width: 78%;
	padding-top: 0.4rem;
	margin: 0 auto;
}

.userBox,.shopBox{
	margin-bottom: 0.5rem;
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-box-align: start; /*兼容老版本写法*/
	-moz-align-items: flex-start;
	-webkit-align-items: flex-start;
  align-items: flex-start;
}
.itemBox{
	display: -webkit-box; /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
	display: -moz-box; /* 老版本语法: Firefox (buggy) */
	display: -ms-flexbox; /* 混合版本语法: IE 10 */
	display: -webkit-flex; /* Safari */
	display: flex;
	-webkit-box-pack: start; /*兼容老版本写法*/
	-moz-justify-content: flex-start;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-box-align: center; /*兼容老版本写法*/
	-moz-align-items: center;
	-webkit-align-items: center;
	align-items: center;
	flex-wrap: wrap;
	-webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  flex: 1;
}
.itemTitle{
	width: 1.12rem;
	height: 0.64rem;
	line-height: 0.64rem;
	border-radius: 0.06rem;
	background-color: #999;
	margin-top: .1rem;
	text-align: center;
	color: #fff;
	font-size: 0.28rem;
	
}
.itemBtn{
	width: 2rem;
  height: 0.77rem;
  margin: 0 0 .2rem .2rem;
  position: relative; 
}
.userBox .codeImgBox{
	bottom: 1.2rem;
	left: 0;
	width: 2.7rem;
	height: 2.7rem;
}
.shopBox .codeImgBox{
	top: 1.2rem;
	left: 0;
	width: 2.7rem;
	height: 2.7rem;
}
.footerBox{
	position: fixed;
	bottom: 0.3rem;
	left: 0;
	width: 100%;
	color: #fff;
	font-size: 0.24rem;
}
.footer_item{
	margin: 0 auto;
	text-align: center;
	color: #fff;
	padding-bottom: 0.2rem;
}
.footer_item a{
	padding: 0 0.4rem;
	height: 0.4rem;
	line-height: 0.4rem;
	color: #fff;
}
