<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
  <meta name="renderer" content="webkit|ie-comp|ie-stand">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <LINK rel="Bookmark" href="/favicon.ico" >
  <LINK rel="Shortcut Icon" href="/favicon.ico" />
  <!--[if lt IE 9]>
  <script type="text/javascript" src="/lib/html5.js"></script>
  <script type="text/javascript" src="/lib/respond.min.js"></script>
  <script type="text/javascript" src="/lib/PIE_IE678.js"></script>
  <![endif]-->
  <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css">-->
  <link rel="stylesheet" type="text/css" href="/static/h-ui/css/H-ui.min.css" />
  <link rel="stylesheet" type="text/css" href="/static/css/base.css" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/H-ui.admin.css" />
  <link rel="stylesheet" type="text/css" href="/static/Hui-iconfont/1.0.7/iconfont.css" />
  <link rel="stylesheet" type="text/css" href="/static/icheck/icheck.css" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/skin/default/skin.css" id="skin" />
  <link rel="stylesheet" type="text/css" href="/static/h-ui.admin/css/style.css" />
  <script src="https://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <!--[if IE 6]>
  <script>DD_belatedPNG.fix('*');</script>
  <![endif]-->
  <title>{$system['title']}-后台管理系统</title>
</head>
<body>
<div class="cl pd-20" style=" background-color:#5bacb6">
  <img class="avatar size-XL l" src="{$re.header_img}">
  <dl style="margin-left:80px; color:#fff">
    <dt><span class="f-18">{$re.username}</span>
      <!--<span class="pl-10 f-12">余额：{$re.amount|default='0'}</span>-->
      <span class="pl-10 f-12">钻石：{$re.b_diamond|default='0'}</span>
    </dt>
    <dd class="pt-10 f-12" style="margin-left:0">{$re.autograph|default="这家伙很懒，什么也没有留下"}</dd>
  </dl>
</div>
<div class="pd-20">
  <table class="table">
    <tbody>
      <tr>
        <th class="text-r" width="80">性别：</th>
        <td>{switch name=$re['sex'] }
          {case value="1" }男{/case}
          {case value="2" }女{/case}
          {case value="3" }保密{/case}
          {/switch}</td>
      </tr>
      <tr>
        <th class="text-r">手机：</th>
        <td>{$re.phone}</td>
      </tr>
      <!--<tr>-->
        <!--<th class="text-r">邮箱：</th>-->
        <!--<td>admin@mail.com</td>-->
      <!--</tr>-->
      <!--<tr>-->
        <!--<th class="text-r">地址：</th>-->
        <!--<td>北京市 海淀区</td>-->
      <!--</tr>-->
      <tr>
        <th class="text-r">注册时间：</th>
        <td>{$re.intime|date="Y-m-d H:i:s",###}</td>
      </tr>
      <!--<tr>-->
        <!--<th class="text-r">积分：</th>-->
        <!--<td>{}</td>-->
      <!--</tr>-->
    </tbody>
  </table>
</div>
</body>
<script type="text/javascript" src="/static/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="/static/common/js/jquery.cookie.js"></script>
<script type="text/javascript" src="/static/layer/2.1/layer.js"></script>
<script type="text/javascript" src="/static/jquery/jquery.form.js"></script>
<script type="text/javascript" src="/static/icheck/jquery.icheck.min.js"></script>
<script type="text/javascript" src="/static/asyncbox/asyncbox.js"></script>
<script type="text/javascript" src="/static/kindeditor/kindeditor-all-min.js"></script>
<script type="text/javascript" src="/static/kindeditor/lang/zh_CN.js"></script>
<script type="text/javascript" src="/static/h-ui/js/H-ui.js"></script>
<script type="text/javascript" src="/static/h-ui.admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="/static/common.js"></script>
</html>